body {
	background: #0e1317;
}
#menu {
	text-align: center;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 20px 0;
}
#menu a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	padding: 10px 52px;
}
#menu a:hover {
	background: #000;
	color: #FC0;
	right: 80px;
}

#banner img {
	position: absolute;
	margin-top: 35px;
}
#banner a {
	position: absolute;
	left: 35px;
	top: 180px;
	font-size: 18px;
}
#contenido {
	font-size: 20px;
	font-size: 14px;
	color: #666;
	line-height: 1.75;
	shape-margin: 20px;
	margin-top: 200px;
	margin-left:20px;
}
#imagen {
	float: right;
}