body {
	background: #0e1317;
}
#menu {
	text-align: center;
	border-top: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	padding: 20px 0;
}
#menu a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 25px;
	padding: 10px 52px;
}
#menu a:hover {
	background: #000;
	color: #FC0;
	right: 80px;
}
h1 {
	font size: 30px;
	text-align: center;
	color: #666;
}
h2 {
	font-size: 50px;
	text-align: center;
	color: #FC0;
}
h3 {
	font-size: 25px;
	color: #FC0;
	padding: 0px 50px 0px 60px;
}
p {
	font size: 18px;
	color: #666;
	padding: 0px 50px 0px 60px;
}
img {
	width: 250px;
	float: left;
	padding: 0px 50px 0px 60px;
}
.relacionado1, .relacionado2, .relacionado3{
	width: 388px;
	display: inline-block;
	margin-top: 20px;
	padding: 20px;
}